html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.debug-normal {
  color: black;
}

body {
  transition: background 0.25s;
  position: absolute;
  width: 100vw;
  background-color: rgb(13, 17, 13);
  font-family: 'Courier New', Courier, monospace;
}

.body-rumble {
  animation: rumble 0.25s linear infinite;
}

@keyframes rumble {
  0% {
    transform: translate(0px, 0px);
  }
  12% {
    transform: translate(-25px, -6px);
  }
  24% {
    transform: translate(12px, -12px);
  }
  36% {
    transform: translate(25px, 6px);
  }
  48% {
    transform: translate(-25px, 6px);
  }
  60% {
    transform: translate(30px, 20px);
  }
  72% {
    transform: translate(-12px, 0px);
  }
  84% {
    transform: translate(0px, -20px);
  }
  96% {
    transform: translate(-12px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.debug-warning {
  color: yellow;
}

.debug-critical {
  color: red;
}

#visualizer {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  transition: all 0.25s;
  font-size: 140px;
}

.emoji {
  position: absolute;
  animation: arc 2s forwards;
  z-index: 100;
}

.image-holder {
  position: absolute;
  width: 203px;
  height: 335px;
}

.blur {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

#parent {
  position: relative;
  z-index: 100;
}

#gifster-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif-container {
  position: absolute;
  width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: all 0.125s linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bapster-table {
}

.bapster-row {
}
.bapster-element:hover {
  background: rgba(0, 255, 255, 0.144);
}

#output-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

#output {
  position: relative;
  font-size: 140pt;
  color: #00ff00;
  width: 100%;
  transition: padding 0.125s ease-in, color 0.125s ease-in,
    font-size 0.125s linear;
  text-align: center;
}

.hover {
  animation: hover 2s linear infinite;
}

.left {
  padding: 0px 12% 0px 0px;
}

.right {
  padding: 0px 0px 0px 12%;
}

.pleasure {
  animation: shake 1s linear infinite;
  color: #ff7b00 !important;
}

.pleasure-plus {
  animation: shakePlus 2s linear infinite;
  color: #ff5100 !important;
}

.pleasure-plus-plus {
  animation: spin 0.25s linear infinite;
  color: #ff5100 !important;
  font-weight: 900;
}

.pleasure-plus-plus-plus {
  animation: shakePlusPlusPlus 2s linear infinite,
    textGlitch 1.26s linear infinite;
  color: red !important;
}

.death {
  color: white !important;
  animation: die 3.5s ease-out forwards;
}

.check {
  font-size: 240pt !important;
  color: gold !important;
}

.nuh-uh {
  font-size: 240pt !important;
  color: red !important;
}

.pointing {
  font-size: 240pt !important;
  color: white !important;
  animation: point 1s ease-in-out infinite;
}

.nod {
  animation: nod 0.25s linear infinite;
}

.loader {
  font-size: 240pt !important;
  transform-origin: 50% 59%;
  animation: loading 4s linear infinite;
}

.bump {
  animation: bump 0.125s linear infinite;
  color: red !important;
}

.embarrassed {
  background: -webkit-linear-gradient(#00a2ff, #0059ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blush {
  background: -webkit-linear-gradient(#00ff00 0%, #00ff00 40%, #ff0062 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bump {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  24% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  49% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  74% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  99% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes shakePlus {
  0% {
    transform: rotate(12deg);
  }
  24% {
    transform: rotate(12deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  49% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(20deg);
  }
  74% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  99% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

@keyframes textGlitch {
  0% {
    font-size: 100pt;
  }
  29% {
    font-size: 100pt;
  }
  30% {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60pt;
    font-weight: 900;
  }
  35% {
    font-size: 100pt;
    font-weight: 100;
  }
  50% {
    font-family: cursive;
  }
  55% {
    font-size: 120pt;
  }
}

@keyframes shakePlusPlusPlus {
  0% {
    transform: rotate(30deg);
  }
  24% {
    transform: rotate(30deg);
  }
  25% {
    transform: translate(-12%, 15%) rotate(-47deg);
  }
  49% {
    transform: translate(-12%, 15%) rotate(-47deg);
  }
  50% {
    transform: rotate(20deg);
  }
  74% {
    transform: rotate(20deg);
  }
  75% {
    transform: translate(-30%, -20%) rotate(-60deg);
  }
  99% {
    transform: translate(-30%, -20%) rotate(-60deg);
  }
  100% {
    transform: translate(30%, 45%) rotate(125deg);
  }
}

@keyframes shakePlusPlus {
  0% {
    transform: translate(0px, 0px);
  }
  12% {
    transform: translate(-25px, -6px);
  }
  24% {
    transform: translate(12px, -12px);
  }
  36% {
    transform: translate(25px, 6px);
  }
  48% {
    transform: translate(-25px, 6px);
  }
  60% {
    transform: translate(30px, 20px);
  }
  72% {
    transform: translate(-12px, 0px);
  }
  84% {
    transform: translate(0px, -20px);
  }
  96% {
    transform: translate(-12px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes die {
  0% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1200px) rotate(60deg);
  }
}

@keyframes nod {
  0% {
  }
  60% {
    transform: translateY(-70%) rotateX(-40deg);
  }
  90% {
    transform: translateY(40%) rotateX(20deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes point {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-15%);
  }

  80% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes arc {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
